body{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0;
    background-image: url(./星黛露.jpg)
}

#game{                   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    width: fit-content;
    height: fit-content;

}

.banner{        
    margin-top: 20px;
    font-size: 2em;
    height: 1.5em;
}

.welcome button{
    background-image:url(./按键.jpg) ;
    background-size: cover;
    color:rgb(145, 95, 122);
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.5em;
    border-radius:5px;
    margin: 20px; 
}

td{
    border:blueviolet 1px solid; 
    width: 20px;
    height: 20px;
    background-color:rgb(241, 228, 115);
    box-sizing: border-box;
    position: relative;
    padding:0;
}

td > .cell{
    position: absolute;
    left: 0;
    right: 0 ;
    top: 0;
    bottom: 0;
    text-align: center;
    color:rgb(241, 228, 115);
}

td>.cell.clear{
    background-color: #97b7e5d3;
    color:rgb(16, 21, 83);
}

td>.cell.exploded{
    background-color: rgb(209, 71, 71);
    color: #999;
}

table.exploded,table.exploded td{
    background-color: rgb(209, 71, 71);
}

.loser{
    position: fixed;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    left:550px;
    right: 550px;
    top: 250px;
    bottom: 0;  
}

.winner{
    background-image: url(./成功.jpeg);
    background-size: cover;
    height:100%;
    width: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(186, 183, 240);
}

.loser h3{
    font-size: 3em;
}

.welcome{
    display: flex;
    flex-direction: column;
}

